body
{
  width: 1024px;
  margin:0px auto;

}
nav
{
   height: 130px;
  background:#000;
}
p,p a 
{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
img
{ 
  width: 100%;
    height: 100%;
}
.li1
{
  background: #666;
}
.logo
{
  height:130px;
  width: 200px;
  margin-left: 70px;
  float: left;
}
.li2
{
  display: inline-block;
  height: 130px;
  width: 100px;
} 
ul li a
{
  font-size: 25px;
  color: #fff; 
  text-decoration: none;
  line-height: 130px;
  text-align: center;
  display: inline-block;
}
ul
{
  padding: 0px;
  margin: 0px;
  margin-left: 50px;

}
nav ul
{
  float:left;
  list-style:none;
}
.login-text
{
  float:right;
  margin-right: 70px;
  height: 130px;
}
p
{
  line-height:130px;
}
.search-box
{
  width: 130px;
  height: 30px;
  float: right;
  position: relative;
  margin-top: 50px;
  margin-right: 20px;
  background: #fff;

}
.search-logo
{
  width: 20px;
  height: 20px;
  float: right;
  background: #fff;
  padding-top: 5px;
  padding-right: 5px;

}
 input
 {
        width: 100px;
        height: 30px;
        float: right;
        border:none;
        padding: 0px;
        font-size: 12px;
        outline: none;
}
.content
{
	width: 100%
	height:1000px;
	background: #b3b1b1;
}


.menu-position
{
  display: inline-block;
  width:950px;
  height: 20px;
  padding-top:25px;
  padding-left: 50px;
  
}
.menu
{ 
  position: relative;
   width: 100%;
   height:40px;
  background: #b3b1b1;
}


.tianchong1
{
  height: 18px;
    background: #b3b1b1;
    width: 100%;
}
.menu-text
{
  float: left;
}
.menu-image
{
  width:20px;
  height: 21px;
  float:right;
}
.menu-total
{
  width:870px;
  height:30px;
  background: #fff;

}

.menu-ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 30px;
  width:1024px;
  background: #b3b1b1;

}
.menu-li
{
  display: inline-block;
    line-height: 30px;
    padding-right:0px;
    padding-left: 25px;
    background: #b3b1b1;

}
.menu-li-1
{
  display: inline-block;
    line-height: 30px;
    padding-left:92px;
    padding-right:0px;
    background: #b3b1b1;

}
.menu-li-2
{
  display: inline-block;
    line-height: 30px;
    padding-left:30px;
    background: #b3b1b1;

}

.menu-a
{
  line-height: 20px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    font-size: 15px;
    color: #000;
    border:1px solid #000;
    border-radius: 3px;
    padding: 2px 4px;
    background: #2b292b;
    color:#fff;
    box-shadow: 0 0 40px #fff;

}
.menu-a-1
{
  line-height: 20px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    font-size: 15px;
    color: #000;
    border:1px solid #000;
    border-radius: 3px;
    padding: 2px 4px;
    background:#ff1a1a;
    color:#fff;
    box-shadow: 0 0 40px #fff;

}


.main-regin
{
	margin-top: 35px;
	width: 100%;
	height:800px;
	/* background: #888; */
}
.main-regin div:hover div
{
  
  transform: scale(1.05, 1.05);   /* 鼠标悬停放大 */

}
.main-regin div
{
  transition:all .5s;/* opacity:0.4;filter:alpha(opacity=40); 变暗*/
}  /*  动画时间 */

.text-box
{
	height: 100px;
	width: 100%;

}
/* .text-box:nth-child(odd)  奇偶选择器
{
	background-color: rgba(255,255,255,0.05); 蒙版
} */
a
{
	text-decoration: none;
}
.text1
{
  padding-top:14px;
  background:#2b292b;
  height: 40px;
  width: 600px;
  color: #fff;
  text-align: center;
  margin-left: 300px;
  font-size: 15px;
  box-shadow: 0 0 50px #000;
  border-radius:10px;
}

.text2
{
  padding-top:15px;
  background: #2b292b;
  height: 40px;
  width: 600px;
  color: #fff;
  text-align: center;
  margin-left: 190px;
  font-size: 15px;
  box-shadow: 0 0 50px #000;
  border-radius:10px;
}

.text3
{
  padding-top:15px;
  background: #2b292b;
  height: 40px;
  width: 600px;
  color: #fff;
  text-align: center;
  margin-left:80px;
  font-size: 15px;
  box-shadow: 0 0 50px #000;
  border-radius:10px;
}

.text4
{
  padding-top:15px;
  background: #2b292b;
  height: 40px;
  width: 600px;
  color: #fff;
  text-align: center;
  margin-left: 150px;
  font-size: 15px;
  box-shadow: 0 0 50px #000;
  border-radius:10px;
}

.text5
{
  padding-top:15px;
  background: #2b292b;
  height: 40px;
  width: 700px;
  color: #fff;
  text-align: center;
  margin-left: 110px;
  font-size: 15px;
  box-shadow: 0 0 50px #000;
  border-radius:10px;
}

.text6
{
  padding-top:15px;
  background: #2b292b;
  height: 40px;
  width: 600px;
  color: #fff;
  text-align: center;
  margin-left: 360px;
  font-size: 15px;
  box-shadow: 0 0 50px #000;
  border-radius:10px;
}

.text7
{
  padding-top:15px;
  background:#2b292b;
  height: 40px;
  width: 600px;
  color: #fff;
  text-align: center;
  margin-left: 50px;
  font-size: 15px;
  box-shadow: 0 0 50px #000;
  border-radius:10px;
}

.menu-image
{
	width:20px;
	height: 21px;
	float:right;
}