body
{
	width: 1024px;
	margin:0px auto;
}
nav
{
	height: 130px;
	background:#000;
}
p,p a
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
img
{
	width: 100%;
    height: 100%;
}
.logo
{
	height:130px;
	width: 200px;
	margin-left: 70px;
	float: left;
}
ul li
{
	display: inline-block;
	height: 130px;
	width: 100px;
}	
ul li a
{
	font-size: 25px;
	color: #fff; 
	text-decoration: none;
	line-height: 130px;
	text-align: center;
	display: inline-block;
}
ul
{
	padding: 0px;
	margin: 0px;
	margin-left: 50px;

}
nav ul
{
	float:left;
	list-style:none;
}
.login-text
{
	float:right;
	margin-right: 70px;
	height: 130px;
}
p
{
	line-height:130px;
}
.search-box
{
	width: 130px;
	height: 30px;
	float: right;
	position: relative;
	margin-top: 50px;
	margin-right: 20px;
	background: #fff;

}
.search-logo
{
  width: 20px;
  height: 20px;
  float: right;
  background: #fff;
  padding-top: 5px;
  padding-right: 5px;

}
 input
 {
        width: 100px;
        height: 30px;
        float: right;
        border:none;
        padding: 0px;
        font-size: 12px;
        outline: none;
}
.black-section
{
	margin: 0 auto;
    height:700px;
    width: 82%;
    background:#fff;
}
.register-left
{
	width: 50%;
	height: 600px;
	float: left;
	background: #fff;
}
.register-right
{
	width: 50%;
	height:400px;
	float:right;
	background: #fff;

}
.phone-image
{
	width:100%;
	height:50%;

	position: relative;
	margin-top:110px;
}
.register-titel-box
{
  width:100%;
  height: 112.5px;
  background: #fff;
}
h1
{
	padding: 0;
	margin: 0;
}
h3
{

}
.register-titel
{
    text-align: center;
    position: relative;
    padding-top: 70px;
}
.register-email
{
    width: 100%;
    height: 100px;
    background: #fff;

}
.register-password
{
   width: 100%;
    height: 100px;
    background: #fff;
}
.register-proving
{
width: 100%;
    height: 100px;
    background: #fff;
}
.email-text
{
	display:inline-block;
    width: 50px;
	font-size:20px;
	height:25px;
	position:relative;	
	padding-top:35px;
	padding-left:50px;

}
.email-box
{
	position:relative;
	top:30px;
	right:10px;
	float:right;
	border: 1px solid;
}
.proving-text
{
	display:inline-block;
    width: 80px;
	font-size:20px;
	height:25px;
	position:relative;	
	padding-top:35px;
	padding-left:30px;

}
.proving-box
{
	position:relative;
	top:30px;
	right:160px;
	float:right;
	border: 1px solid;
}
.proving-image
{
	height:40px;
	width:120px;
	background:#fff;
    float: right;
	border: 1px solid;
	margin-right:-140px;
	margin-top: 30px;
}
.password-text
{
	display:inline-block;
    width: 50px;
	font-size:20px;
	height:25px;
	position:relative;	
	padding-top:25px;
	padding-left:50px;
}
.password-box
{
	position:relative;
	top:20px;
	right:10px;
	float:right;
	border: 1px solid;
}

.register-mima
{
	 width: 100%;
    height: 80px;
    background: #fff;
}
.button-box
{
	 width: 100%;
    height: 100px;
    background: #fff;

}
.register-button
{
	display: inline-block;
    background: #000;
    line-height: 35px;
    text-decoration: none;
    border:none;
    width:85px;
    height:35px;
    margin-left:110px;
  /*   margin-top: 20px; */
     color: 	#fff;
    border-radius: 5px;     /* 圆角 */
    text-align: center;
    float: left;
    font-size: 15px;

}
.login-button
{
    background: #000;
    border: none;
    width:205px;
    height:35px;
    margin-left: 9px;
    color: #fff;
   border-radius: 5px; 
   float: left; 
   font-size: 15px;
}