body
{
	width: 1024px;
	margin:0px auto;
}
nav
{
	height: 130px;
	background:#000;
}
p,p a
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
img
{
	width: 100%;
    height: 100%;
}
.logo
{
	height:130px;
	width: 200px;
	margin-left: 70px;
	float: left;
}
ul li
{
	display: inline-block;
	height: 130px;
	width: 100px;
}	
ul li a
{
	font-size: 25px;
	color: #fff; 
	text-decoration: none;
	line-height: 130px;
	text-align: center;
	display: inline-block;
}
ul
{
	padding: 0px;
	margin: 0px;
	margin-left: 50px;

}
nav ul
{
	float:left;
	list-style:none;
}
.login-text
{
	float:right;
	margin-right: 70px;
	height: 130px;
}
p
{
	line-height:130px;
}
.search-box
{
	width: 130px;
	height: 30px;
	float: right;
	position: relative;
	margin-top: 50px;
	margin-right: 20px;
	background: #fff;

}
.search-logo
{
  width: 20px;
  height: 20px;
  float: right;
  background: #fff;
  padding-top: 5px;
  padding-right: 5px;

}
 input
 {
        width: 100px;
        height: 30px;
        float: right;
        border:none;
        padding: 0px;
        font-size: 12px;
        outline: none;
}
.content
{
	
	 background:  #b3b1b1;	

}
.black-section
{
	margin: 0 auto;
    height:510px;
    width: 82%;
    background: #b3b1b1;
}
.register-left
{
	width: 50%;
	height: 450px;
	float: left;
	 background:  #b3b1b1;
}
.register-right
{
	width: 40%;
	height:400px;
	float:right;
	 background:  #b3b1b1;

}
.phone-image
{
	width:100%;
	height:300px;
    background: #fff;
	position: relative;
	margin-top:70px;
	border:1px solid #fff;
	box-shadow: 0 0 50px #000;
	border-radius:10px;
}
.image-box1
{
	width: 90%;
	height: 270px;
	margin-top:13px;
	margin-left: 20px;

}
.register-titel-box
{
  width:100%;
  height: 50px;
 
}
h2
{
	padding: 0;
	margin: 0;
	text-align: center;
}
h3
{

}
.tianchong1
{
	width: 100%;
	height: 70px;
	background:  #b3b1b1;
}
.register-titel
{
  
    position: relative;
    top: 10px;
    color: #fff;


  
}
.register-email
{
    width: 100%;
    height: 50px;
  background: #2b292b;

}
.register-password
{
   width: 100%;
    height: 50px;
  background: #2b292b;
}
.register-proving
{
width: 100%;
    height: 50px;
     background: #2b292b;
}
.email-text
{
	display:inline-block;
	font-size:20px;
	height:25px;
	position:relative;	
	padding-top:15px;
	padding-left:45px;
	font-size: 15px;
	color: #fff;

}
.email-box
{
	position:relative;
	margin-right:40px; 
	margin-top: 10px;
	float:right;
	border: 1px solid;
	border-radius: 5px;
}
.proving-text
{
	display:inline-block;
    
	font-size:20px;
	height:25px;
	position:relative;	
	padding-top:10px;
	padding-left:30px;
	font-size: 15px;
	color: #fff;
}
.proving-box
{
	position:relative;
	right:140px; 
	margin-top: 10px;
	float:right;
	border: 1px solid;
	border-radius: 5px;
}
.proving-image
{
	height:30px;
	width:80px;
	background:#fff;
    float: right;
	border: 1px solid;
	margin-right:-63px;
	margin-top: 10px;
}
.password-text
{
		display:inline-block;

	font-size:20px;
	height:25px;
	position:relative;	
	padding-top:15px;
	padding-left:45px;
	font-size: 15px;
	color: #fff;
}
.forget-password
{
	float: right;
	text-decoration: none;
	height: 32px;
	width:40px;
	font-size: 10px;

}
.forget-password-text
{
	text-decoration: none;
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #000;
	border-radius: 3px;
	position: relative;
	right:30px;
	top: 10px;
	text-align: center;
	color: #fff;
	background: #7b7b7b;


}
.password-box
{
	position:relative;
	right:40px; 
	margin-top: 10px;
	float:right;
	border: 1px solid;
	border-radius: 5px;
}

.register-mima
{
	 width: 100%;
    height: 50px;
      background: #2b292b;
  }
.button-box
{
	 width: 100%;
    height: 100px;
    
}
.register-button
{
	display: inline-block;
    background:#7b7b7b;
    line-height: 35px;
    text-decoration: none;
    border:none;
    width:50px;
    height:35px;
    margin-left:93px;
  /*   margin-top: 20px; */
     color: 	#fff;
    border-radius: 5px;     /* 圆角 */
    text-align: center;
    float: left;
    font-size: 15px;
    margin-top: 10px;

}
.login-button
{
    background: #7b7b7b;
    border: none;
    width:145px;
    height:35px;
    margin-left: 9px;
    color: #fff;
   border-radius: 5px; 
   float: left; 
   font-size: 15px;
   margin-top: 10px;
}
.main-style
{
	border:1px solid;
	border-radius:10px;
	 background: #2b292b;
	box-shadow: 0 0 50px #000;
}
input:-webkit-autofill, 
 textarea:-webkit-autofill, 
 select:-webkit-autofill { 
       -webkit-box-shadow: 0 0 0 1000px white inset; 
}
 input[type=text]:focus, input[type=password]:focus, textarea:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset; 
}

作者：Elena
链接：https://www.zhihu.com/question/48914902/answer/113296020
来源：知乎
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。