body
{
	width: 1024px;
	margin:0px auto;
}
input:-webkit-autofill, 
 textarea:-webkit-autofill, 
 select:-webkit-autofill { 
       -webkit-box-shadow: 0 0 0 1000px white inset; 
}
 input[type=text]:focus, input[type=password]:focus, textarea:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset; 
}
nav
{
	height: 130px;
	background:#000;
}
p,p a
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
img
{
	width: 100%;
    height: 100%;
}
.logo
{
	height:130px;
	width: 200px;
	margin-left: 70px;
	float: left;
}
.title-li
{
	display: inline-block;
	height: 130px;
	width: 100px;
}	

ul li a
{
	font-size: 25px;
	color: #fff; 
	text-decoration: none;
	line-height: 130px;
	text-align: center;
	display: inline-block;
}
ul
{
	padding: 0px;
	margin: 0px;
	margin-left: 50px;

}
nav ul
{
	float:left;
	list-style:none;
}
.login-text
{
	float:right;
	margin-right: 70px;
	height: 130px;
}
p
{
	line-height:130px;
}
.search-box
{
	width: 130px;
	height: 30px;
	float: right;
	position: relative;
	margin-top: 50px;
	margin-right: 20px;
	background: #fff;

}
.search-logo
{
  width: 20px;
  height: 20px;
  float: right;
  background: #fff;
  padding-top: 5px;
  padding-right: 5px;

}
 input
 {
        width: 100px;
        height: 30px;
        float: right;
        border:none;
        padding: 0px;
        font-size: 12px;
        outline: none;
}
.main-1
{
	width: 100%;
	height: 1500px;
	background: #b3b1b1;
}
.main-2
{
	width: 87%;
	height: 1400px;
	background: #b3b1b1;
	margin: 0px auto;
}
.menu-position
{
	display: inline-block;
	width:950px;
	height: 20px;
	padding-top:25px;
	padding-left: 50px;
	
}
.menu
{ 
	position: relative;
   width: 100%;
   height:40px;
  background: #b3b1b1;
}

.hr1
{
	position: relative;
	border: 1px solid #000;
	padding: 0;
	margin: 9px 60px;
	width:307px;
	float: left;
	color: #000;
}
.tianchong1
{
	height: 20px;
   	background: #b3b1b1;
   	width: 100%;
}
.menu-text
{
	float: left;
}
.menu-image
{
	width:20px;
	height: 21px;
	float:right;
}
.menu-total
{
	width:870px;
	height:30px;
	background: #fff;

}

.menu-ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 30px;
	width:870px;
	background: #b3b1b1;

}
.menu-li
{
	display: inline-block;
    line-height: 30px;
    padding-right:0px;
    padding-left: 30px;
    background: #b3b1b1;

}
.menu-li-1
{
	display: inline-block;
    line-height: 30px;
    padding-left:45px;
    padding-right:0px;
    background: #b3b1b1;

}
.menu-li-2
{
	display: inline-block;
    line-height: 30px;
    padding-left:30px;
    background: #b3b1b1;

}
.menu-a
{
	line-height: 20px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    font-size: 15px;
    color: #000;
    border:1px solid #000;
    border-radius: 3px;
    padding: 2px 4px;
    background: #2b292b;
    color:#fff;
    box-shadow: 0 0 40px #fff;

}

/* .section2 div div:hover img
{
  
  transform: scale(1.05, 1.05);   鼠标悬停放大
  box-shadow: 0 0 50px #000;
  border:1px solid #fff;
	
} */
/* .section2 div img
{
	transition:all .5s;opacity:0.4;filter:alpha(opacity=40); 变暗
}  动画时间 */


.wenzitexiao{
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	font-size:14px;
	color:#333;
	text-decoration:none;
	}
#wrapper {
	max-width:260px;
	width:100%;
	margin:0px auto;
	margin-top:10px;
}

/* main_img */
.main_img{
    height: 180px;
    width: 250px;
	overflow:hidden;
	position: relative;
	border-radius: 8px;
}
.main_img img{
	height: 180px;
    width: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
	z-index:1;
	transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
	/* Firefox 4 */
	-moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
	/* Safari 和 Chrome */
	-webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
	/* Opera */
	-o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
	}
.main_img .show {
    background: rgba(0, 0, 0, 0.4);
    height:180px;
    left: 0;
    opacity: 0;
	filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease-in;
	/* Firefox 4 */
	-moz-transition-delay: 0s;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: ease-in;
	/* Safari 和 Chrome */
	-webkit-transition-delay:0s;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    -webkit-transition-timing-function: ease-in;
	/* Opera */
	-o-transition-delay:0s;
    -o-transition-duration: 0.3s;
    -o-transition-property: opacity;
    -o-transition-timing-function: ease-in;
    width:250px;
    z-index: 200;
}
.main_img .show .imgArea {
      
	bottom:0;
    margin:0px 0px 10px 40px;
    opacity: 0;
    height: 180px;
    width: 180px;
    position: absolute;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
	/* Firefox 4 */
	-moz-transition-delay: 0s;
    -moz-transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
	/* Safari 和 Chrome */
	-webkit-transition-delay:0s;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
	/* Opera */
	-o-transition-delay:0s;
    -o-transition-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}
.main_img .show .imgArea .wenzitexiao{
	color:rgba(255,255,255, 0.8);
	display:block;
	position: relative;
	padding:5px 12px;
	border:rgba(255,255,255, 0.6) 1px solid;
	border-radius:8px;
	font-size: 16px;
	margin-top: 60px;
}
.main_img .show .imgArea .wenzitexiao:hover{
	background: rgba(255,255,255, 0.7);
	color:rgba(0,0,0, 0.6);
}
.main_img:hover  .show {opacity: 1;filter:alpha(opacity=100);}
.main_img:hover .show .imgArea{opacity:1;filter:alpha(opacity=100);bottom:10%;}
.main_img:hover img {
	transform: scale(1.2, 1.2);
	
	-ms-transform:scale(1.2, 1.2); 	/* IE 9 */
	-moz-transform:scale(1.2, 1.2); 	/* Firefox */
	-webkit-transform:scale(1.2, 1.2); /* Safari 和 Chrome */
	-o-transform:scale(1.2, 1.2); 	/* Opera */





.section2
{
	width: 100%;
	height: 588px;	
	background:;
   	background: #b3b1b1;
	overflow:hidden;
}
.big-box1
{
	width: 50%;
	height: 384px;
		background: #b3b1b1;
	float: left;
	cursor:pointer;
}
img
{
	max-height: 100%;
	max-width: 100%;
}
.box1
{
   width:413px;
   height: 170px;
 background: #b3b1b1;
   margin-top:20px;
  /* 	 margin-left:10px; */
   float: left;
   
}
.box1 .bmbox
{ 
  width:300px; 
  height:30px; 
  background:black; 
  position:absolute; 
  bottom:0px; 
  left:0px; 
  display:none;
  font:12px/30px "宋体"; color:white;
  text-align:center;
 }
 .box1:hover .bmbox{
  width:300px; 
  height:30px; 
  background:black; 
  position:absolute; 
  bottom:0px; 
  left:0px; 
  display:block;
  font:12px/30px "宋体"; color:white;
  text-align:center;

 }
 .box1 img:hover 
 { 
  opacity: 0.9; 
color: #fff; 
background: rgba(0,0,0,0.8); 
} 
.box2
{
	 width:230px;
   height: 170px;
   background: #b3b1b1;
   margin-top:20px;
  cursor:pointer;
   float: left;
   
}

.box4
{
	 width: 163px;
   height: 170px;
 background: #b3b1b1;
   margin-top: 20px;
     margin-left:20px;
     cursor:pointer;
  /*  margin-left:10px; */
   float:left;
   
}
.big-box2
{	
	width:25%;
	height: 382px;
	background: #b3b1b1;
	float: left;
}
.box3
{
	width: 210px;
   height: 170px;
   background: #b3b1b1;
   margin-top: 20px;
   float: left;
   cursor:pointer;
     
}

.box5
{
	height: 170px;
	width: 210px;
	background: #b3b1b1;
	float: left;
	margin-top: 20px;
	cursor:pointer;
	  
}
.big-box3
{
	width: 25%;
	height: 382px;
	background: #b3b1b1;
	float: left;
}
.box6
{
	height: 360px;
	width: 201px;
	float: left;
	background: #b3b1b1;
	margin-top: 20px;
	margin-left: 20px;
	cursor:pointer;
	 
}
.big-box4
{
	width: 100%;
	height: 210px;
	background: #b3b1b1;
	float: left;
}
.box7
{
	width: 173px;
	height: 180px;
	float: left;
	background: #b3b1b1;
	margin-top: 20px;
	cursor:pointer;
	  

}
.box8
{
	width: 210px;	
	height: 180px;
	float: left;
	background: #b3b1b1;
	margin-top: 20px;
	margin-left: 30px;
	cursor:pointer;
	
}
.box9
{
	width: 443px;
	height: 180px;
	background: #b3b1b1;
    float: left;
    margin-left: 28px;
    margin-top: 20px;
    cursor:pointer;
  
}
.section3
{
	width: 100%;
	height: 40px;
	background: #b3b1b1;
}
.down-image
{
	width: 40px;
	height:40px;
	background: #b3b1b1;
	margin: 0 auto;
}
.section4
{
	height: 730px;
	width: 100%;
	 	background: #b3b1b1;
}
.section4-box1
{
	width: 168px;
	height: 160px;
	background: #999;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	   border:1px solid #000;
}
.section4-box2
{
	width:168px;
	height:160px;
	background: #999;
	margin-top: 10px;
	float: left;
	   border:1px solid #000;
}


.sort-memu
{
	text-decoration: none;
	outline: none;
	color: #000;
} 




[class^='imghvr-'],
[class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  background-color: rgba(1, 87, 155, 0.75);
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
  vertical-align: top;
  max-width: 100%;
}
[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption {
  background-color: inherit;
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
[class^='imghvr-'] h3,
[class*=' imghvr-'] h3,
[class^='imghvr-'] p,
[class*=' imghvr-'] p {
  margin: 0;
  padding: 0;
  color: #fff;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* imghvr-fade
   ----------------------------- */
.imghvr-fade figcaption {
  opacity: 0;
}
.imghvr-fade:hover > img {
  opacity: 0;
}
.imghvr-fade:hover figcaption {
  opacity: 1;
}
/* imghvr-push-*
   ----------------------------- */
[class^='imghvr-push-']:hover figcaption,
[class*=' imghvr-push-']:hover figcaption {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* imghvr-flip-vert
   ----------------------------- */
.imghvr-flip-vert figcaption {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.imghvr-flip-vert:hover > img {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.imghvr-flip-vert:hover figcaption {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

