body
{
	width: 1024px;
	margin:0px auto;
}
input:-webkit-autofill, 
 textarea:-webkit-autofill, 
 select:-webkit-autofill { 
       -webkit-box-shadow: 0 0 0 1000px white inset; 
}
 input[type=text]:focus, input[type=password]:focus, textarea:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset; 
}
nav
{
	height: 130px;
	background:#000;
}
p,p a
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
img
{
	width: 100%;
    height: 100%;
}
.logo
{
	height:130px;
	width: 200px;
	margin-left: 70px;
	float: left;
}
.title-li
{
	display: inline-block;
	height: 130px;
	width: 100px;
}	
.title-li:hover
{
  
  background:#666;   /* 鼠标悬停放大 */

}
ul li a
{
	font-size: 25px;
	color: #fff; 
	text-decoration: none;
	line-height: 130px;
	text-align: center;
	display: inline-block;
}
ul
{
	padding: 0px;
	margin: 0px;
	margin-left: 50px;

}
nav ul
{
	float:left;
	list-style:none;
}
.login-text
{
	float:right;
	margin-right: 70px;
	height: 130px;
}
p
{
	line-height:130px;
}
.search-box
{
	width: 130px;
	height: 30px;
	float: right;
	position: relative;
	margin-top: 50px;
	margin-right: 20px;
	background: #fff;

}
.search-logo
{
  width: 20px;
  height: 20px;
  float: right;
  background: #fff;
  padding-top: 5px;
  padding-right: 5px;

}
 input
 {
        width: 100px;
        height: 30px;
        float: right;
        border:none;
        padding: 0px;
        font-size: 12px;
        outline: none;
}

.menu-position
{
	display: inline-block;
	width:950px;
	height: 20px;
	padding-top:25px;
	padding-left: 50px;
	
}
.menu
{ 
	position: relative;
   width: 100%;
   height:60px;
   background: #fff;
}

.hr1
{
	position: relative;
	border: 1px solid #000;
	padding: 0;
	margin: 9px 60px;
	width:307px;
	float: left;
	color: #000;
}

.menu-text
{
	float: left;
}
.menu-image
{
	width:20px;
	height: 21px;
	float:right;
}
.menu-total
{
	width:1024px;
	height:30px;
	background: #fff;
	margin-top: 10px;
}

.menu-ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 30px
}
.menu-li
{
	display: inline-block;
    line-height: 30px;
    padding-right: 58px;

}
.menu-li-1
{
	display: inline-block;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 50px;

}
.menu-li-2
{
	display: inline-block;
    line-height: 30px;
    padding-right:0px;

}
.menu-a
{
	line-height: 30px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    font-size: 15px;
    color: #000;
}

.section2 div div:hover img
{
  
  transform: scale(1.05, 1.05);   /* 鼠标悬停放大 */

}
.section2 div img
{
	transition:all .5s;/* opacity:0.4;filter:alpha(opacity=40); 变暗*/
}  /*  动画时间 */
.section2
{
	width: 100%;
	height: 600px;	
	background: #fff;
	margin-top:40px;
	overflow:hidden;
}
.big-box1
{
	width: 50%;
	height: 380px;
	background:#fff;
	float: left;
	cursor:pointer;
}
img
{
	max-height: 100%;
	max-width: 100%;
}
.box1
{
   width: 500px;
   height: 180px;
   background:#888;
   margin-top:10px;
  /* 	 margin-left:10px; */
   float: left;
}
.box1 .bmbox
{ 
  width:300px; 
  height:30px; 
  background:black; 
  position:absolute; 
  bottom:0px; 
  left:0px; 
  display:none;
  font:12px/30px "宋体"; color:white;
  text-align:center;
 }
 .box1:hover .bmbox{
  width:300px; 
  height:30px; 
  background:black; 
  position:absolute; 
  bottom:0px; 
  left:0px; 
  display:block;
  font:12px/30px "宋体"; color:white;
  text-align:center;

 }
.box2
{
	 width: 290px;
   height: 180px;
   background:#888;
   margin-top:10px;
  cursor:pointer;
   float: left;
}

.box4
{
	 width: 200px;
   height: 180px;
   background:#888;
   margin-top: 10px;
     margin-left:10px;
     cursor:pointer;
  /*  margin-left:10px; */
   float:left;
}
.big-box2
{	
	width:261px;
	height: 380px;
	background: #fff;
	float: left;
}
.box3
{
	width: 260px;
   height: 180px;
   background:#888;
   margin-top: 10px;
   float: left;
   cursor:pointer;
}

.box5
{
	height: 180px;
	width: 260px;
	background:#999;
	float: left;
	margin-top: 10px;
	cursor:pointer;
}
.big-box3
{
	width: 250px;
	height: 380px;
	background: #fff;
	float: left;
}
.box6
{
	height: 370px;
	width: 240px;
	float: left;
	background: #999;
	margin-top: 10px;
	margin-left: 10px;
	cursor:pointer;
}
.big-box4
{
	width: 100%;
	height: 280px;
	background: #fff;
	float: left;
}
.box7
{
	width: 200px;
	height: 200px;
	float: left;
	background: #999;
	margin-top: 10px;
	cursor:pointer;

}
.box8
{
	width: 290px;	
	height: 200px;
	float: left;
	background: #999;
	margin-top: 10px;
	margin-left: 10px;
	cursor:pointer;
}
.box9
{
	width: 512px;
	height: 200px;
	background: #999;
    float: left;
    margin-left: 12px;
    margin-top: 10px;
    cursor:pointer;
}
.section3
{
	width: 100%;
	height: 40px;
    background: #fff;
}
.down-image
{
	width: 40px;
	height:40px;
	background:#fff;
	margin: 0 auto;
}
.section4
{
	height: 730px;
	width: 100%;
	background: #fff;
}
.section4-box1
{
	width: 194px;
	height: 170px;
	background: #999;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
.section4-box2
{
	width:196px;
	height:170px;
	background: #999;
	margin-top: 10px;
	float: left;
}


.sort-memu
{
	text-decoration: none;
	outline: none;
	color: #000;
} 




[class^='imghvr-'],
[class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  background-color: rgba(1, 87, 155, 0.75);
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
  vertical-align: top;
  max-width: 100%;
}
[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption {
  background-color: inherit;
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
[class^='imghvr-'] h3,
[class*=' imghvr-'] h3,
[class^='imghvr-'] p,
[class*=' imghvr-'] p {
  margin: 0;
  padding: 0;
  color: #fff;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* imghvr-fade
   ----------------------------- */
.imghvr-fade figcaption {
  opacity: 0;
}
.imghvr-fade:hover > img {
  opacity: 0;
}
.imghvr-fade:hover figcaption {
  opacity: 1;
}
/* imghvr-push-*
   ----------------------------- */
[class^='imghvr-push-']:hover figcaption,
[class*=' imghvr-push-']:hover figcaption {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* imghvr-flip-vert
   ----------------------------- */
.imghvr-flip-vert figcaption {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.imghvr-flip-vert:hover > img {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.imghvr-flip-vert:hover figcaption {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

