body
{
	width: 1024px;
	margin:0px auto;
}
nav
{
	height: 130px;
	background:#000;
}
p,p a
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
img
{
	width: 100%;
    height: 100%;
}
.logo
{
	height:130px;
	width: 200px;
	margin-left: 70px;
	float: left;
}
ul li
{
	display: inline-block;
	height: 130px;
	width: 100px;
}	
ul li a
{
	font-size: 25px;
	color: #fff; 
	text-decoration: none;
	line-height: 130px;
	text-align: center;
	display: inline-block;
}
ul
{
	padding: 0px;
	margin: 0px;
	margin-left: 50px;

}
nav ul
{
	float:left;
	list-style:none;
}
.login-text
{
	float:right;
	margin-right: 70px;
	height: 130px;
}
p
{
	line-height:130px;
}
.search-box
{
	width: 130px;
	height: 30px;
	float: right;
	position: relative;
	margin-top: 50px;
	margin-right: 20px;
	background: #fff;

}
.search-logo
{
  width: 20px;
  height: 20px;
  float: right;
  background: #fff;
  padding-top: 5px;
  padding-right: 5px;

}
 input
 {
        width: 100px;
        height: 30px;
        float: right;
        border:none;
        padding: 0px;
        font-size: 12px;
        outline: none;
}
.content
{

}
.main-regin
{
	widows: 90%;
	height: 580px;
	background: #fff;
}
.left-regin
{
	background: #fff;
	width: 49%;
	height:550px;
	float:left;
	margin-left:50px;
}
.right-regin
{
	background:#fff;
	width: 42%;
	height:550px;
	float:right;
	
}
.image-border
{
	height: 500px;
	width: 100%;
	border:1px solid;
	margin-top: 30px;
}
.image
{
	height: 275px;
	width: 250px;
	background: #fff;
	margin-top: 120px;
	margin-left: 130px;
}

.sort
{
	margin-top:60px;
	width:100%;
	height:40px; 
	background: #fff;


}
.select-style
{
             border:1px solid; 
  width: 150px;
  height: 30px;
  border-radius: 5px;
            /*     //盒子阴影修饰作用,自己随意 */
  box-shadow: 0 0 5px #ccc;
    position: relative;
    float:right;
    margin-right: 188px;
 
}
select{
/*      //清除select的边框样式 */
    border: none;
  /*   //清除select聚焦时候的边框颜色 */
    outline: none;
/*     //将select的宽高等于div的宽高 */
    width: 100%;
    height: 30px;
    line-height: 30px;
/*        //隐藏select的下拉图标 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   /*  //通过padding-left的值让文字居中 */
    padding-left: 20px;
}
/*      //使用伪类给select添加自己想用的图标 */
.select-style:after{
    content: "";
    width: 14px;
    height: 8px;
    background: url(img/xiala.png) no-repeat center;
/*     //通过定位将图标放在合适的位置 */
    position: absolute;
    right: 20px;
    top: 45%;
/*     //给自定义的图标实现点击下来功能 */
    pointer-events: none;
}
/* select::-ms-expand { display: none; } */
.sort-title
{   

	display: inline-block;
	width: 50px;
	height:20px;
	padding-top: 5px;
	padding-left: 40px;

}
.long-text
{
	border:1px solid;
}

.title-box
{
	width:100%;
	height:40px;
	background: #fff;
}
.title-text
{
   display: inline-block;
	width: 50px;
	height:20px;
	padding-top: 5px;
	padding-left: 40px;
}
.title-text-input
{
	margin-right:86px;
	border:1px solid;
}


.updata-image
{
	width: 100%;
	height:40px; 
    background: #fff;
}
.updata-image-title
{
   display: inline-block;
	width:70px;
	height:20px;
	padding-top: 5px;
	padding-left: 10px;
}
.updata-image-text
{
	width: 90px;
	margin: 0px;
	float:left;
}
.updata-image-title-input
{
	margin-right: 70px;
}

.file {
    position: relative;
    display: inline-block;
    background: #999;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    margin-top: 0px;
    margin-right:250px;
    float: right;

}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #999;
    border-color: #999;
    color: #fff;
    text-decoration: none;
}
.updata-image-button
{
	width: 200px;
	height: 60px;
	border: 1px solid;
	margin-top: 10px;
}
.item-description-box
{
	width:100%;
	height:70px;
	background: #fff;
}
.item-description-title
{
   display: inline-block;
	width:70px;
	height:20px;
	float: left;
	padding-top: 5px;
	padding-left: 10px;
}
.long-text
{
	font-size: 15px;
	margin-left:10px;
}
.contact-way-box
{
	width: 100%;
	height: 150px;
	background: #fff;
	margin-top: 30px;
}
.contact-way
{
 
}
.phone
{   
	
	width: 100%;
	height: 30px;
	margin-top: 10px;
}
.phone-title
{
	display: inline-block;
	padding-top: 5px;
	padding-left: 40px;
}
.phone-title-box
{
   margin-right: 190px;
  border:1px solid;
}

.QQ
{   
	
	width: 100%;
	height: 30px;
	margin-top: 10px;
}
.QQ-title
{
	display: inline-block;
	padding-top: 5px;
	padding-left: 45px;
}
.QQ-title-box
{
   margin-right: 190px;
   border:1px solid;
}

.wechat
{   
	
	width: 100%;
	height: 30px;
	margin-top: 10px;
}
.wechat-title
{
	display: inline-block;
	padding-top: 5px;
	padding-left: 40px;
}
.wechat-title-box
{
   margin-right: 190px;
   border:1px solid;
}





.updata
{
	 width: 100%;
    height: 70px;
    background: #fff;
}
.updata-button
{
	width:260px;
	height: 40px;
	background: #000;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	border:none;
    margin-top: 15px;
    float: left;
    margin-left: 85px;
}