body
{
	width: 1024px;
	margin:0px auto;
}
nav
{
	height: 130px;
	background:#000;
}
p,p a
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
img
{
	width: 100%;
    height: 100%;
}
.logo
{
	height:130px;
	width: 200px;
	margin-left: 70px;
	float: left;
}
ul li
{
	display: inline-block;
	height: 130px;
	width: 100px;
}	
ul li a
{
	font-size: 25px;
	color: #fff; 
	text-decoration: none;
	line-height: 130px;
	text-align: center;
	display: inline-block;
}
ul
{
	padding: 0px;
	margin: 0px;
	margin-left: 50px;

}
nav ul
{
	float:left;
	list-style:none;
}
.login-text
{
	float:right;
	margin-right: 70px;
	height: 130px;
}
p
{
	line-height:130px;
}
.search-box
{
	width: 130px;
	height: 30px;
	float: right;
	position: relative;
	margin-top: 50px;
	margin-right: 20px;
	background: #fff;

}
.search-logo
{
  width: 20px;
  height: 20px;
  float: right;
  background: #fff;
  padding-top: 5px;
  padding-right: 5px;

}
 input
 {
        width: 100px;
        height: 30px;
        float: right;
        border:none;
        padding: 0px;
        font-size: 12px;
        outline: none;
}
.main-regin
{
	width:42%;
	margin:0 auto;
	background: #fff;
	height:700px;
}
.register-title-box
{
	background: #fff;
	width: 100%;
	height:80px;
}
h1
{
	margin: 0px;
	padding: 0px;
}
h5
{
margin: 0px;
	padding: 0px;
}
.register-title
{
	text-align: center;
	padding-top:30px;
	position: relative;
	padding-left: 60px;

}
.user-name-box
{
	 width: 100%;
    height: 50px;
    background: #fff;
}
.user-name
{
	display:inline-block;
    width:60px;
	font-size:15px;
	height:25px;
	position:relative;	
	padding-top:20px;
	padding-left:60px;

}
.user-name-input
{
	position:relative;
	top:15px;
	right:10px;
	float:right;
	border: 1px solid;
}

.school-name-box
{
	 width: 100%;
    height: 50px;
    background: #fff;
}
.select-style
{
              
  width: 150px;
  height: 30px;
  border-radius: 5px;
            /*     //盒子阴影修饰作用,自己随意 */
  box-shadow: 0 0 5px #ccc;
    position: relative;
    float:right;
    margin-top: 15px;
    margin-right: 163px;
}
select{
/*      //清除select的边框样式 */
    border: none;
  /*   //清除select聚焦时候的边框颜色 */
    outline: none;
/*     //将select的宽高等于div的宽高 */
    width: 100%;
    height: 30px;
    line-height: 30px;
/*        //隐藏select的下拉图标 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   /*  //通过padding-left的值让文字居中 */
    padding-left: 20px;
}
/*      //使用伪类给select添加自己想用的图标 */
.select-style:after{
    content: "";
    width: 14px;
    height: 8px;
    background: url(img/xiala.png) no-repeat center;
/*     //通过定位将图标放在合适的位置 */
    position: absolute;
    right: 20px;
    top: 45%;
/*     //给自定义的图标实现点击下来功能 */
    pointer-events: none;
}
/* select::-ms-expand { display: none; } */

.school-name
{
	display:inline-block;
    width:40px;
	font-size:15px;
	height:25px;
	position:relative;	
	padding-top:20px;
	padding-left:75px;

}
.school-name-input
{
	position:relative;
	top:15px;
	right:10px;
	float:right;
	border: 1px solid;
}
.password-box
{
	 width: 100%;
    height: 50px;
    background: #fff;
}
.password
{
	display:inline-block;
    width:50px;
	font-size:15px;
	height:25px;
	position:relative;	
	padding-top:20px;
	padding-left:75px;

}
.password-input
{
	position:relative;
	top:15px;
	right:10px;
	float:right;
	border: 1px solid;
}

.password-sure-box
{
	 width: 100%;
    height: 50px;
    background: #fff;
}
.password-sure
{
	display:inline-block;
    width:70px;
	font-size:15px;
	height:25px;
	position:relative;	
	padding-top:20px;
	padding-left:45px;

}
.password-sure-input
{
	position:relative;
	top:15px;
	right:10px;
	float:right;
	border: 1px solid;
}

.email-box
{
	 width: 100%;
    height: 50px;
    background: #fff;
}
.email
{
	display:inline-block;
    width:40px;
	font-size:15px;
	height:25px;
	position:relative;	
	padding-top:20px;
	padding-left:75px;

}
.email-input
{
	position:relative;
	top:15px;
	right:130px;
	float:right;
	border: 1px solid;
}
.email-proving-button
{
	height: 30px;
	border-radius: 5px;  
	width: 100px;
    border:0px;
	background: #000;
	color: #fff;
	position: relative;
}
.email-proving-button-box
{
	height:20px;
	width: 100px;
	float: right;
	padding-top:15px;
	margin-right: -170px;
}
.sent-email-code
{
	display:block;
	line-height:30px;
	width: 100px;
	background: #999;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
	margin-top: 0px;
	float: right;
}

.email-proving-code-box
{
	 width: 100%;
    height: 50px;
    background: #fff;
}
.email-proving-code
{
	display:inline-block;
    width:80px;
	font-size:15px;
	height:25px;
	position:relative;	
	padding-top:20px;
	padding-left:30px;

}
.email-proving-code-input
{
	position: relative;
	float: right;
	border:1px solid #000;
	float: right;
		top:15px;
	right:10px;
}

.proving-code-box
{
	 width: 100%;
    height: 50px;
    background: #fff;
}
.proving-code
{
	display:inline-block;
    width:50px;
	font-size:15px;
	height:25px;
	position:relative;	
	padding-top:20px;
	padding-left:60px;

}
.proving-code-input
{
	position:relative;
	top:15px;
	right:130px;
	float:right;
	border: 1px solid;
}
.proving-image
{
	height:32px;
	width:100px;
	background:#fff;
    float: right;
	border: 1px solid;
	margin-right:-170px;
	margin-top: 15px;
}

.register
{
	 width: 100%;
    height: 70px;
    background: #fff;
}
.register-button
{
	width:300px;
	height: 40px;
	background: #000;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	border:none;
    margin-right: 10px;
    margin-top:15px;
}